@charset "UTF-8";

body
{
    background-color: rgb(45, 45, 48);
}

div.container
{
    /* content:"";
    display: block;
    clear: both; */
    display: flex;
}

div.left
{
    background-color: rgb(19, 19, 26);
    width: 300px;
    margin: 10px;
}

div.right
{
    width: 75%;
}

h2.title
{
    color: white;
    margin: 10px;
    padding: 0px 0px 0px 30px;
    background-color: rgb(19, 19, 26);
}
.article
{
    margin: 10px;
    background-color: rgb(19, 19, 26);
}

.article .title
{
    color: white;
}

.flex
{
    
    display: flex;
}

.flex .image
{
    width: 256;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.flex .detailImage
{
    width: 512;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.flex .code
{
    margin: 0 0 0 20px;
    padding: 0;
    white-space: pre;
    color: white;
}