@charset "UTF-8";

header
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

header ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
}

header li
{
    float: left;
    border-right: 1px solid black;
}

header li :last-child
{
    border-right: none;
}

header li a
{
    display: block;
    color: black;
    text-align: center;
    padding: 14px, 16px;
    text-decoration: none;
    padding: 14px 16px;
}

header li a :hover
{
    color: #ffffff;
    background-color: rgb(52, 52, 58);
}

body
{
    background-color: rgb(45, 45, 48);
}

div.container
{
    display: flex;
}

div.left
{
    background-color: rgb(19, 19, 26);
    width: 300px;
    margin: 10px;
}

ul
{
    margin: 10px;
    padding: 0px;
    list-style-type: none;
    background-color: white;
}

li
{
    text-align: center;
}

li a
{
    display: block;
    text-decoration: none;
    color: black;
}

li a:hover
{
    color: #ffffff;
    background-color: rgb(52, 52, 58);
}

div.right
{
    width: 75%;
}

h2.title
{
    color: white;
    margin: 10px;
    padding: 0px 0px 0px 30px;
    background-color: rgb(19, 19, 26);
}
.article
{
    margin: 10px;
    background-color: rgb(19, 19, 26);
}

.article .title
{
    color: white;
}

.article .urlbrackets
{
    color:white;
}

.flex
{
    
    display: flex;
}

.flex .image
{
    width: 256;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.flex .detailImage
{
    width: 512;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.flex .code
{
    margin: 0 0 0 20px;
    padding: 0;
    /* white-space: pre; */
    color: white;
}

/* インデント用 */
p.i
{
    margin: 0px 0px 0px 20px;
}

/* インデント ＋ 背景色 */
span.icol
{
    margin: 0px 0px 0px 20px;
    background-color: rgb(102, 55, 102);

}

span.ncol
{
    background-color: rgb(102, 55, 102);
}

/* 通常 */
p.n
{
    margin: 0px;
}